# FZF COLOR THEME
export FZF_DEFAULT_OPTS=" \
  --color=bg+:{{colors.surface_container.default.hex}} \
  --color=bg:{{colors.surface.default.hex}} \
  --color=fg:{{colors.on_surface.default.hex}} \
  --color=fg+:{{colors.on_surface.default.hex}} \
  --color=hl:{{colors.error.default.hex}} \
  --color=hl+:{{colors.error.default.hex}} \
  --color=header:{{colors.error.default.hex}} \
  --color=info:{{colors.secondary.default.hex}} \
  --color=prompt:{{colors.secondary.default.hex}} \
  --color=pointer:{{colors.primary_fixed.default.hex}} \
  --color=spinner:{{colors.primary_fixed.default.hex}} \
  --color=marker:{{colors.secondary_fixed.default.hex}} \
  --color=selected-bg:{{colors.surface_container_high.default.hex}} \
  --color=border:{{colors.surface_container.default.hex}} \
  --color=label:{{colors.on_surface.default.hex}}"

export FZF_TAB_COLORS='fg:{{colors.on_surface.default.hex}},bg:{{colors.surface.default.hex}},hl:{{colors.error.default.hex}},min-height=5'